<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Spiral HWY - San Francisco Independent Theater Showings, showcasing the best indie films in the city.">
        <meta name="keywords" content="Spiral HWY, San Francisco theater, indie films, independent theater, movie showings, San Francisco events">
        <title>Spiral HWY</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <header>
            <h1 class="site-title">Spiral HWY</h1>
            <h2 class="site-subtitle">San Francisco Independent Theater Showings</h2>
        </header>
        </br>
        </br>
        {% if movies %}
            {% for date, movie_dict in movies %}
                <div class="sticky-wrapper">
                    <div class="date">{{ date | formatDate }}</div>
                </div>
                {% for md in movie_dict %}
                    <div class="movie-block">
                        <h2 class="movie-title">{{ md.title }}</h2>
                        <div class="poster-container">
                            <img 
                                src="posters/{{ md.poster }}.png" 
                                alt="Poster for {{ md.title }}"
                                width="120"
                                height="180"
                            >
                        </div>
                        <div class="movie-info">
                            {% for listing in md.listings %}
                                <div class="theater-info">
                                    <a href="{{ listing.theater_link }}" target="_blank" class="theater-name">
                                        {{ listing.theater | replace("_", " ") | title }}
                                    </a> 
                                    <a href="{{ listing.map }}" target="_blank" class="area-link" >
                                        {{ listing.area | title }}
                                    </a>
                                    <span class="showtimes">
                                        {% for showing in listing.showings %}
                                            <a href="{{ showing.link }}" 
                                            target="_blank" 
                                            class="time {% if showing.available == 'SOLD OUT' %}sold-out{% endif %}">
                                                {{ showing.time | formatTime }}
                                            </a>
                                            {% if not loop.last %} | {% endif %}
                                        {% endfor %}  {# showing #}
                                    </span>
                                </div>
                            {% endfor %}  {# theater #}
                        </div>
                    </div>
                    {% if not loop.last %}
                        <div class="divider"></div>
                    {% else %}
                    {% for _ in range(4) %}</br>{% endfor %}  {# spacing #}
                    {% endif %}
                {% endfor %}  {# movie #}
            {% endfor %}  {# date #}
        {% else %}
            <p>No movie data available</p>
        {% endif %}
    </body>
</html>
