@font-face {
    font-family: "anthony";
    src: url("./fonts/anthony/Anthony.woff2") format("woff2"),
        url("./fonts/anthony/Anthony.woff") format("woff"),
        url("./fonts/anthony/Anthony.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ibm_mono";
    src: url("./fonts/ibm_mono/IBMPlexMono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    background-color: #1f1f1f;
    color: #ffffff;
    /* font-family: monospace; */
    font-family: ibm_mono;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    font-size: 1.4em;
}

.site-title {
    font-family: "anthony";
    font-size: 4em;
    text-align: center;
}

.movie-info .area-link {
    color: #707070;
    text-decoration: none;
}

.movie-info .area-link .a:hover{
    color: #ff0000;
}

.movie-info .area-link .a:visited{
    color: #707070;
}

.movie-rating {
    color: #707070;
}


a.area-link {
    color: #707070;
    text-decoration: none;
}

a.area-link:hover{
    color: #ff0000;
}





.divider {
    border-bottom: 1px solid #ffffff;
    margin: 20px 0;
}

.movie-block {
    margin: 20px 0;
}

.poster-container {
    width: 120px;
    height: 180px;
    border: 1px solid #ffffff;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 10px;
}

.movie-info {
    display: inline-block;
    vertical-align: top;
    max-width: calc(100% - 150px);
}

.theater-info {
    margin: 10px 0;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ff0000;
}




.showtimes {
    display: inline;
    margin-left: 10px;
}

.time {
    margin-right: 10px;
}

.time.sold-out {
    text-decoration: line-through;
    color:#b2b2b2;
    pointer-events: none;
}

.date {
    font-size: 1.3em;
    margin: 100px 0 0 0;
}

