body { background-color: #4e5e87; }
.highlight-foreground { color: #d4a515; }
.highlight-background { background-color: #d4a515; }
.highlight-border-small { border: 1px solid #d4a515; }
.highlight-border-medium { border: 2px solid #d4a515; }
.highlight-transparent-border-colour { border-color: #d4a515 transparent transparent transparent; }
.highlight-flash { animation: flash 5s 1; } @keyframes flash { 0% { background-color: #d4a51533; } 100% { background-color: transparent; }}
.decreased-highlight-opacity { background-color: #d4a515A8; }
.action:hover { background-color: #d4a515A8; }
.action-secondary:hover{ border-color: #d4a515A8; }
.action-secondary span:hover{ color: #d4a515A8; }
.action-secondary-button:hover{ border-color: #d4a515A8; }