<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
</head>

<h1 class="site-title">Spiral HWY</h1>
<h2>Independent Theaters in San Francisco</h2>
******************************************************************************************
******************************************************************************************
******************************************************************************************
{% if movies %}
  {% for date, moviesForDate in movies | groupBy("date") %}
  <div class="date-section">
      <h2 class="date-header">{{ date | formatDate }}</h2>
      
      {% for movie in moviesForDate | sortByEarliestShowing %}
      <div class="movie-section">
          <div class="movie-header">
              <img 
                src="posters/{{ movie.poster }}.png" 
                alt="Poster for {{ movie.title }}"
                class="movie-poster"
              >
              <div class="movie-info">
                  <h3 class="movie-title">{{ movie.title }} {% if movie.rating | length > 0 %}[{{ movie.rating }}]{% endif %}</h3>
                  
                  <div class="theater-section">
                      <h4 class="theater-name">{{ movie.theater | replace("_", " ") | title }}</h4>
                      
                      <div class="showings">
                          {% for showing in movie.showings %}
                          <div class="showing-time">
                              <a href="{{ showing.link }}">{{ showing.time | formatTime }}</a>
                              {% if showing.available %}
                                  ({{ showing.available }})
                              {% endif %}
                          </div>
                          {% endfor %}
                      </div>
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
  {% endfor %}
{% else %}
  <p>No movie data available</p>
{% endif %}


</html>
